body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2c3e50; /* Updated background color */
    overflow: hidden;
  }
  
  .animation-container {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  .ball {
    position: absolute;
    left: calc(50% - 25px); /* Center the ball horizontally */
    top: calc(50% - 25px); /* Center the ball vertically */
    width: 50px;
